# 20 commonly used built-in functions in Python

1. print() - Output to Console:

Used for printing messages or variable values to the console.

In [9]:
print("Hello, World!")

Hello, World!

2. len() - Length of an Iterable:

Returns the number of items in an iterable (e.g., string, list, tuple).

In [10]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

5

3. type() - Object Type:

Returns the type of an object.

In [11]:
x = 5
type_of_x = type(x)
print(type_of_x)

<class 'int'>

4. range() - Generate a Range of Numbers:

Generates a sequence of numbers within a specified range.

In [12]:
my_range = range(1, 6)  # Generates 1, 2, 3, 4, 5

5. input() - User Input:

Takes user input from the console.

In [13]:
user_name = input("Enter your name: ")

6. open() - File Handling:

Opens a file for reading, writing, or appending.

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()

7. sorted() - Sorting Iterables: 

Returns a new sorted list from the elements of any iterable.

In [15]:
my_list = [3, 1, 4, 1, 5, 9, 2]
sorted_list = sorted(my_list)

print(sorted_list)

[1, 1, 2, 3, 4, 5, 9]

8. str() - Convert to String:

Converts an object to a string.

In [16]:
my_number = 42
my_string = str(my_number)

print(type(my_string))

<class 'str'>

9. join() - Concatenate Strings:

Joins elements of an iterable with a specified separator.

In [17]:
my_list = ["apple", "banana", "cherry"]
result = "\t".join(my_list)

print(result)

apple	banana	cherry

10. enumerate() - Enumerate Iterables:

Returns both the index and the value of items in an iterable.

In [18]:
my_list = ["apple", "banana", "cherry"]
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

11. sum() - Sum of Elements:

Returns the sum of all items in an iterable.

In [19]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)

print(total)

15

12. max() and min() - Maximum and Minimum Values:

Returns the maximum or minimum value in an iterable or among arguments.

In [20]:
numbers = [4, 7, 1, 9, 3]
max_value = max(numbers)
min_value = min(numbers)

print(max_value)
print(min_value)

9
1

13. abs() - Absolute Value:

Returns the absolute value of a number.

In [21]:
x = -10
absolute_x = abs(x)

print(absolute_x)

10

14. round() - Round a Number:

Rounds a floating-point number to the nearest integer.

In [22]:
y = 3.14159

rounded_y1 = round(y)
rounded_y2 = round(y, 2)  # Rounds to two decimal places

print(rounded_y1)
print(rounded_y2)

3
3.14

15. any() and all() - Check Truthiness:

- any() returns True if at least one element of an iterable is true.
- all() returns True if all elements of an iterable are true.

In [23]:
boolean_list = [True, False, True, True]
any_true = any(boolean_list)
all_true = all(boolean_list)

print(any_true, all_true)

True False

16. zip() - Combine Iterables:

Combines multiple iterables into tuples.

In [24]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)

# print(tuple(zipped_data))
print(list(zipped_data))

[('Alice', 25), ('Bob', 30), ('Charlie', 22)]

In [25]:
keys = ['a', 'b', 'c']
values = [10, 20, 30]

my_dict = dict(zip(keys, values))

print(my_dict)

{'a': 10, 'b': 20, 'c': 30}

17. filter() - Filter Elements:

Returns an iterator containing elements for which a function returns True.

In [26]:
numbers = [1, 2, 3, 4, 5, 6]
filtered_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(filtered_numbers)

[2, 4, 6]

18. map() - Apply Function to Elements:

Applies a function to all items in an input iterable

In [27]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

19. format() - Format Strings:

Formats a string by substituting placeholders with values.

In [28]:
name = "Alice"
age = 30
formatted_string = "My name is {}, and I am {} years old.".format(name, age)

print(formatted_string)

My name is Alice, and I am 30 years old.

20. eval() - Evaluate Expressions:

Evaluates a Python expression from a string.

In [29]:
result = eval("2 + 3")

print(result)

5